@charset "UTF-8";

/*  clearfix  */

.cf {
	zoom: 1;
	}
.cf:before, .cf:after {
	content: "";
	display: table;
	}
.cf:after {
	clear: both;
	}
	
/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
全デバイス共通のスタイルとスマートフォンおよび小型タブレット向けレイアウトの指定
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/

/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
メディアクエリによる切り替え
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/

/* PC向けおよび大型タブレットん向けのレイアウトの指定: 769px~960px */
@media only screen and (min-width: 769px){
}

/* PC向けレイアウトの指定: 960px以上では固定レイアウト */
@media only screen and (min-width: 961px){
}
